.b-footer
    padding 100px 0 80px
    font-size 15px
    background-image radial-gradient(at top, #0E3C57, #092B41)

.b-footer__logo
    float left
    margin-right 112px

.b-footer__menu
    float left

.b-footer__menu-item
    display block
    float left
    height 36px
    width 48%
    a
        color #ffffff
        &:hover
            color #a9c5e0
            text-decoration underline

.b-footer__address
    color #a9c5e0
    line-height 18px
    margin-top -2px