.b-info
    position relative
    background #ffffff

.b-info__header
    color #2a496b
    font-size 30px
    text-align center
    padding 90px 0 100px

.b-info__steps
    padding-bottom 68px

.b-info__step
    text-align center
    color #202020
    margin-bottom 61px

.b-info__step-img
    height 111px
    background-repeat no-repeat
    background-position bottom center

.b-info__step--1
    .b-info__step-img
        background-image url('../images/step1.png')
        background-position center 15px

.b-info__step--2
    .b-info__step-img
        background-image url('../images/step2.png')
        background-position center 13px

.b-info__step--3
    .b-info__step-img
        background-image url('../images/step3.png')
        background-position center 4px

.b-info__step--4
    .b-info__step-img
        background-image url('../images/step4.png')
        background-position center 10px

.b-info__step--5
    .b-info__step-img
        background-image url('../images/step5.png')
        background-position center 6px

.b-steps__step-title
    font-size 20px
    margin-bottom 19px
    font-weight 500

.b-steps__step-text
    font-size 15px
    line-height 19px