block vars

header.b-header
    .container
        .row
            .col-xs-6
                .b-header__logo.b-logo
                .b-header__title Курьерская служба доставки
            
            .col-xs-3.col-xs-offset-1
                .b-header__phone 8 (909) 023-12-51
            
            .col-xs-2
                .b-header__button.b-button Вход