@font-face
	font-family LatoBlack
	src url(../fonts/Lato-Black.eot)
	src url(../fonts/Lato-Black.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Lato-Black.woff2) format('woff2'),
		url(../fonts/Lato-Black.woff) format('woff'),
		url(../fonts/Lato-Black.ttf) format('truetype')
	font-style normal
	font-weight normal
	text-rendering optimizeLegibility
